.bar-chart{
  width: 50%;
  margin-top: 25px;
}

.bar {
    font-family: "Arial", sans-serif;
    background-color: #fff;
    width: 80%;
    height: 80%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    /* margin: auto; */
    margin-left: 40px;
    margin-top: 40px;
    overflow: hidden; 
  }

  .title{
    color: white;
    font-size: 1.5em;
  } 
  
  